<div class="card">
  <h3 class="card-header">Educational Details</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Educational Details (select this option for attestation of marksheets, transcripts & Convocation Certificate)
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Medium of Instruction (In case you want letter(language) of medium of instructions eg: English,Hindi etc)
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Curriculum (Incase you want the subjects to be attested. Curriculum is issued by the college)
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Grade to Percentage Letter
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Affiliation Letter
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Certificate of Competency letter (For Master of Foreign-Going Ship Examination ONLY)
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  <div class="row">
      <div class="col-md-7">
          <section class="example-section">
              <span class="example-list-section">
                <mat-checkbox class="example-margin">
                  Letter For Name Change (A Letter stating mothers name on marksheet and not on passport.)
                </mat-checkbox>
              </span>
          </section>
      </div>
  </div>
  </div>
</div>