<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
     
    <!-- Copyright -->
    <div class="copyright">
    <div class="text-center p-2" style="background: #fff; float: left; width: 15%;color: black;">
      <span class="created-by">Created with <mat-icon class="heart-icon">favorite</mat-icon> by <b><a href="http://edulab.in" target="_blank">Edulab</a></b> 2021</span>
    </div>
  </div>

    <div class="social-icons" style="background: #fff;float:right;width:12%" >
     <a href="">
      <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/null/external-github-with-cat-logo-an-online-community-for-software-development-logo-color-tal-revivo.png"/>
     </a>
     <a href="">
      <img src="https://img.icons8.com/ios-glyphs/30/null/facebook-new.png"/>
     </a>
     <a href=""><img src="https://img.icons8.com/ios-glyphs/30/null/twitter--v1.png"/></a>
    <a href=""><img src="https://img.icons8.com/ios-filled/30/null/linkedin.png"/></a> 
    </div> 
    <!-- Copyright -->
  </footer>
  <!-- Footer -->