<div class="bgimg">
  <img style="height: 100vh; width: 100vw; position: absolute; z-index: -1;" src="../../../assets/IMG/gf-01.jpg" alt="">
  <div class="bgb">
    <div class="mcr">
      <div class="row" style="padding: 20px;">
        <h6 class="col-md-4">New User ? <a routerLink="/register">Register</a></h6>
        <div class="col-md-4" style="height: 110px; overflow: hidden;">
          <img style="height: 200px; width: 100%; margin-top: -50px;"
            src="../../../assets/IMG/UM Logo (632 × 505 px).svg" alt="">
        </div>
        <h6 style="text-align: center;" class="col-md-4">English <img
            src="https://img.icons8.com/external-those-icons-fill-those-icons/15/external-down-arrows-those-icons-fill-those-icons-1.png"
            alt="external-down-arrows-those-icons-fill-those-icons-1" /></h6>
      </div>

      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Log In</h1>

        <br>
        <h6 class="label">Email address:</h6>
        <input type="email" class="form-control" id="userName" formControlName="userName" placeholder="Enter Username"
          [ngClass]="{'is-invalid': loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)}">
        <label for="">Username is required Enter a valid email address</label><br>
        <div
          *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)"
          class="invalid-feedback">
          Email must be a valid email address
        </div>
        <h6 class="label">Password:</h6>
        <div style="position: relative; width: 100%;">
          <input type="password" class="form-control" id="passWord" [type]="showPassword ? 'text' : 'passWord'"
            formControlName="passWord" placeholder="Enter Password"
            [ngClass]="{'is-invalid': loginForm.get('passWord')?.invalid && (loginForm.get('passWord')?.dirty || loginForm.get('passWord')?.touched)}">
          <div class="eye">
            <i alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword"
              [class.hide]="showPassword"></i>
            <i alt="hide" class="far fa-eye-slash eye-hide" (click)="showPassword = !showPassword"
              [class.hide]="!showPassword"></i>
          </div>
        </div>
        <label for="">Password is required Password should have minimum 8 characters, at least 1 uppercase letter, 1
          lowercase letter and 1 number</label><br>
        <div class="cf">
          <div class="rem">
            <!-- <input type="checkbox"> -->
            <!-- <h6>Remember Me</h6> -->
          </div>
          <h6><a style="float: right; cursor: pointer" cFormCheckLabel for="checkOne" (click)="forgotPassword()">forgot
              password ?</a></h6>
        </div>
        <button type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()" style="font-weight: bold;
        font-size: x-large;">Login</button><br>
        <app-loader *ngIf="loader"></app-loader>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<p-dialog header="Verify OTP" [(visible)]="visible" [style]="{width: '50vw'}">
  <div>
    <form [formGroup]="otpForm">
      <h2 class="card-title">Enter Your OTP</h2>
      <br>
      <div class="OTP">
        <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" oninput="focusNextInput(event, 1)"
          formControlName="otp1Value" class="otp-input">
        <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" oninput="focusNextInput(event, 2)"
          formControlName="otp2Value" class="otp-input">
        <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" oninput="focusNextInput(event, 3)"
          formControlName="otp3Value" class="otp-input">
        <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" oninput="focusNextInput(event, 4)"
          formControlName="otp4Value" class="otp-input">
        <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" oninput="focusNextInput(event, 5)"
          formControlName="otp5Value" class="otp-input">
        <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" oninput="focusNextInput(event, 6)"
          formControlName="otp6Value" class="otp-input">
      </div>
      <br>
      <div style="display: flex; justify-content: space-between;">
        <button (click)="cancel()">Cancel</button>
        <button (click)="verify()">Verify</button>
        <button (click)="resendOtp()">Resend OTP</button>
      </div>
    </form>
  </div>
</p-dialog>
<p-toast></p-toast>