.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    height: 100%;
}

.box{
    display: flex;
}

.box input{
    width: 50px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid black;
    background: wheat;
    font-weight: bold;
    color: black;
    outline: none;
    transition: all 0.1s;
}

.box input:focus{
    border: 2px solid black;
    box-shadow: 0 0 2px 2px black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container p-button {
  margin-right: 10px;
}