<p-toast></p-toast>
  <div class="body">
    <div class="card text-center">
        <div class="card-header" style="font-weight: bold; background-color: rgb(174, 152, 176) !important;">
            <h1 style="font-weight: bold;">Verify OTP</h1>
            <div class="right" (click)="dismiss()">
              <i title="Back" class="fas fa-arrow-left fa-pull-right fa-border"></i>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Enter Your OTP</h5>

            <div class="row box">
                <div class="col-xs-1">
                    <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" [(ngModel)]="otp1Value">
                    <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" [(ngModel)]="otp2Value">
                    <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" [(ngModel)]="otp3Value">
                    <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" [(ngModel)]="otp4Value">
                    <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" [(ngModel)]="otp5Value">
                    <input type="text" id="otp" maxlength="1" (keypress)="numberOnly($event)" [(ngModel)]="otp6Value">
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary button-container">
            <p-button label="Cancel" (click)="cancel()"></p-button>
            <p-button label="Verify" (click)="verify()"></p-button>
            <p-button label="Resend OTP" (click)="resendOtp()"></p-button>
        </div>
    </div>
  </div>