.pi.pi-refresh:hover {
    font-size: 1.8rem;
    color: rgb(219, 46, 58);
  }
  
  
  .pi.pi-refresh {
  color: rgb(216, 44, 44);
  font-size: 1.5rem; 
  padding-left: 1rem;
  } 

  .pi.pi-user:hover {
    font-size: 1.8rem;
    color: rgb(39, 218, 246);
  }
  
  
  .pi.pi-user {
  color: rgb(51, 202, 225);
  font-size: 1.5rem;  
  } 


  .pi.pi-book:hover {
    font-size: 1.8rem;
    color: rgb(243, 191, 24);
  }
  
  
  .pi.pi-book {
  color: rgb(243, 191, 24);
  font-size: 1.5rem; 
  padding-left: 1rem;
  } 


  .pi.pi-envelope:hover {
    font-size: 1.8rem;
    color: rgb(60, 239, 144);
  }
  
  
  .pi.pi-envelope {
  color: rgb(45, 198, 137);
  font-size: 1.5rem; 
  padding-left: 1rem;
  } 