<div>
    <div class="card">
        <div class="card-header">
            <div class="header-content">
                <h3>Preview</h3>
            </div>
            <i class="fas fa-arrow-left fa-pull-right fa-border" mat-dialog-close style="font-size: 1.5rem"></i>
        </div>
        <div class="card-body">
            <!-- personal information -->
            <div class="row" style="padding-bottom: 2%;">
                <div class="col-md-6">
                    <p-card header="Personal Information">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-md-4"><strong>Name :</strong></div>
                                    <div class="col-md-4">{{user_name}} {{user_surname}}</div>
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-md-4"><strong>Email :</strong></div>
                                    <div class="col-md-4">{{user_email}}</div>
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-md-4"><strong>Mobile Number :</strong></div>
                                    <div class="col-md-4">+{{user_mobile_country_code}} {{user_mobile_number}}</div>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </div>

                <!-- educational information -->
                <div class="col-md-6">
                    <p-card header="Education Information">
                        <div class="card w-100">
                            <div class="card-body">
                                <h5 class="card-title">Attested For</h5>
                                <table style="margin-left: 2%;">
                                    <td align="left">
                                        <span *ngIf="education_details.educationalDetails == true"><strong>- Educational
                                                Detail</strong><br></span>
                                        <span *ngIf="education_details.instructionalDetails == true"><strong>- Medium of
                                                Instruction</strong><br></span>
                                        <span *ngIf="education_details.curriculumDetails == true"><strong>-
                                                Curriculum</strong><br>
                                        </span>
                                        <span *ngIf="education_details.gradtoperDetails == true"><strong>- Grade to
                                                Percentage Letter</strong><br></span>
                                        <span *ngIf="education_details.affiliationDetails == true"><strong>- Affiliation
                                                Letter</strong><br></span>
                                        <span *ngIf="education_details.competencyletterDetails == true"><strong>-
                                                Certificate
                                                of
                                                Competency letter</strong><br></span>
                                        <span *ngIf="education_details.letterfornamechangeDetails == true"><strong>-
                                                Letter
                                                For
                                                Name Change</strong></span>
                                    </td>
                                </table>
                                <br>
                                <h5 class="card-title">Education</h5>
                                <div class="row" style="margin-top: 2%;">
                                    <div class="col-md-12" *ngFor="let college of college_data">
                                        <div><strong>Degree for attested documents : </strong>{{college.degree}}</div>
                                        <br>
                                        <div><strong>College Name : </strong>{{college.name}}</div>
                                        <br>
                                        <div><strong>Degree & Year : </strong>{{college.year}}</div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>

            <!-- marksheets -->
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Marksheets" *ngIf="marksheets_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row">
                            <div class="col-md-3" *ngFor="let marksheets of marksheets_data">
                                <!-- pdf -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="marksheets.extension == 'pdf' || marksheets.extension == 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{marksheets.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top"
                                            src="https://mu.admissiondesk.org/uiserver/front_assets/img/pdf1.png"
                                            (click)="openImgPdf(marksheets.filePath,marksheets.extension)">
                                    </div>
                                </div>
                                <!-- img -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="marksheets.extension != 'pdf' || marksheets.extension != 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{marksheets.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top" src="http://{{marksheets.filePath}}"
                                            (click)="openImgPdf(marksheets.filePath,marksheets.extension)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- transcripts -->
                <p-accordionTab header="Transcripts" *ngIf="transcripts_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row">
                            <div class="col-md-3" *ngFor="let transcripts of transcripts_data">
                                <!-- pdf -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="transcripts.extension == 'pdf' || transcripts.extension == 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{transcripts.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top"
                                            src="https://mu.admissiondesk.org/uiserver/front_assets/img/pdf1.png"
                                            (click)="openImgPdf(transcripts.filePath,transcripts.extension)">
                                    </div>
                                </div>
                                <!-- img -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="transcripts.extension != 'pdf' && transcripts.extension != 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{transcripts.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top" src="http://{{transcripts.filePath}}"
                                            (click)="openImgPdf(transcripts.filePath,transcripts.extension)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- instructional -->
                <p-accordionTab header="Medium of Instruction" *ngIf="instructional_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row" *ngFor="let instructional of instructional_data">
                            <p-divider align="center">
                                <span class="p-tag">{{instructional.education_type}}</span>
                            </p-divider>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Name :</strong> {{instructional.name}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Course :</strong> {{instructional.course}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>College :</strong> {{instructional.college}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Specialization :</strong> {{instructional.specialization}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Duration of Course :</strong> {{instructional.duration}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Division/Class :</strong> {{instructional.division}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Year of Passing :</strong> {{instructional.yearofpassing}}</div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- curriculum -->
                <p-accordionTab header="Curriculum" *ngIf="curriculum_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row">
                            <div class="col-md-3" *ngFor="let curriculum of curriculum_data">
                                <!-- pdf -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="curriculum.extension == 'pdf' || curriculum.extension == 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{curriculum.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top"
                                            src="https://mu.admissiondesk.org/uiserver/front_assets/img/pdf1.png"
                                            (click)="openImgPdf(curriculum.filePath,curriculum.extension)">
                                    </div>
                                </div>
                                <!-- img -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="curriculum.extension != 'pdf' && curriculum.extension != 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{curriculum.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top" src="http://{{curriculum.filePath}}"
                                            (click)="openImgPdf(curriculum.filePath,curriculum.extension)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- Grad to per -->
                <p-accordionTab header="Grade to Percentage" *ngIf="gradtoper_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row">
                            <div class="col-md-3" *ngFor="let gradtoper of gradtoper_data">
                                <!-- pdf -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="gradtoper.extension == 'pdf' || gradtoper.extension == 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{gradtoper.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top"
                                            src="https://mu.admissiondesk.org/uiserver/front_assets/img/pdf1.png"
                                            (click)="openImgPdf(gradtoper.filePath,gradtoper.extension)">
                                    </div>
                                </div>
                                <!-- img -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="gradtoper.extension != 'pdf' && gradtoper.extension != 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{gradtoper.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top" src="http://{{gradtoper.filePath}}"
                                            (click)="openImgPdf(gradtoper.filePath,gradtoper.extension)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- affiliation -->
                <p-accordionTab header="Affiliation Letter" *ngIf="affiliation_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row" *ngFor="let affiliation of affiliation_data">
                            <p-divider align="center">
                                <span class="p-tag">{{affiliation.education_type}}</span>
                            </p-divider>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Name :</strong> {{affiliation.name}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Course :</strong> {{affiliation.course}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>College :</strong> {{affiliation.college}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Specialization :</strong> {{affiliation.specialization}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Duration of Course :</strong> {{affiliation.duration}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Division/Class :</strong> {{affiliation.division}}</div>
                            </div>
                            <div class="col-md-6" style="margin-top: 1%;">
                                <div><strong>Year of Passing :</strong> {{affiliation.yearofpassing}}</div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- competency -->
                <p-accordionTab header="Competency Letter" *ngIf="competency_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row">
                            <div class="col-md-3" *ngFor="let competency of competency_data">
                                <!-- pdf -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="competency.extension == 'pdf' || competency.extension == 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{competency.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top"
                                            src="https://mu.admissiondesk.org/uiserver/front_assets/img/pdf1.png"
                                            (click)="openImgPdf(competency.filePath,competency.extension)">
                                    </div>
                                </div>
                                <!-- img -->
                                <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                    *ngIf="competency.extension != 'pdf' && competency.extension != 'PDF'">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-12">{{competency.name}}</div>
                                        </div>
                                    </div>
                                    <div class="card-body text-secondary">
                                        <img class="card-img-top" src="http://{{competency.filePath}}"
                                            (click)="openImgPdf(competency.filePath,competency.extension)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>

                <!-- letter for name change -->
                <p-accordionTab header="Letter For Name Change" *ngIf="letterfornamechange_data.length > 0">
                    <div class="card w-100">
                        <div class="card-body row" *ngFor="let letterfornamechange of letterfornamechange_data">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">First Name As Per Marksheet :</div>
                                    <div class="col-md-6">{{letterfornamechange.firstnameaspermarksheet}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">Fathers Name As Per Marksheet :</div>
                                    <div class="col-md-6">{{letterfornamechange.fathersnameaspermarksheet}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">Mothers Name As Per Marksheet :</div>
                                    <div class="col-md-6">{{letterfornamechange.mothersnameaspermarksheet}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">Last Name As Per Marksheet :</div>
                                    <div class="col-md-6">{{letterfornamechange.lastnameaspermarksheet}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">First Name As Per Passpoart :</div>
                                    <div class="col-md-6">{{letterfornamechange.firstnameasperpassport}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">Fathers Name As Per Passpoart :</div>
                                    <div class="col-md-6">{{letterfornamechange.fathersnameasperpassport}}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">Last Name As Per Passpoart :</div>
                                    <div class="col-md-6">{{letterfornamechange.lastnameasperpassport}}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- pdf -->
                                        <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                            *ngIf="letterfornamechange.extension == 'pdf' || letterfornamechange.extension == 'PDF'">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-12">{{letterfornamechange.name}}</div>
                                                </div>
                                            </div>
                                            <div class="card-body text-secondary">
                                                <img class="card-img-top"
                                                    src="https://mu.admissiondesk.org/uiserver/front_assets/img/pdf1.png"
                                                    (click)="openImgPdf(letterfornamechange.filePath,letterfornamechange.extension)">
                                            </div>
                                        </div>
                                        <!-- img -->
                                        <div class="card border-secondary mb-3" style="max-width: 18rem;"
                                            *ngIf="letterfornamechange.extension != 'pdf' && letterfornamechange.extension != 'PDF'">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-12">{{letterfornamechange.name}}</div>
                                                </div>
                                            </div>
                                            <div class="card-body text-secondary">
                                                <img class="card-img-top" src="http://{{letterfornamechange.filePath}}"
                                                    (click)="openImgPdf(letterfornamechange.filePath,letterfornamechange.extension)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>

            <!-- purpose table -->
            <div style="padding-top: 2%;">
                <p-card header="Purpose Information">
                    <div class="card">
                        <p-table [value]="preViewData" selectionMode="single" dataKey="code"
                            [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Purpose</th>
                                    <th>Email</th>
                                    <th>View</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-preView>
                                <tr [pSelectableRow]="preView">
                                    <td>{{preView.type}}</td>
                                    <td>
                                        <span
                                            *ngIf="preView.type != 'Educational credential evaluators WES'">{{preView.email}}{{preView.other_email}}</span>
                                        <span
                                            *ngIf="preView.type == 'Educational credential evaluators WES'">{{preView.emailAsWes}}</span>
                                    </td>
                                    <td>
                                        <a (click)="viewPurpose()">
                                            <i class="pi pi-eye" pTooltip="View" tooltipPosition="top"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-card>
            </div>
            <br>

            <!-- preview button -->
            <div style="display: flex; justify-content: center;">
                <p-button label="VIEW CART" styleClass="p-button-success" (click)="viewCart()"></p-button>
            </div>
        </div>
    </div>
</div>