.custom-header {
  background-color: rgb(122, 122, 201);
}

.card-header {
  background-color: rgb(122, 122, 201);
}

.divider {
  display: none;
}

.divider.show {
  display: block;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(122, 122, 201);
}

.header-content {
  flex: 1;
} 

.pi.pi-eye {
  color: #330fd1;
  font-size: 1.5rem;
  cursor: pointer;
}

.pi.pi-eye:hover {
  font-size: 1.8rem;
  color: #c81212;
  cursor: pointer;
}

.p-accordionTab{
  padding-bottom: 20%;
}