.custom-header {
    background-color: rgb(122, 122, 201);
}

.card-header{
    background-color: rgb(122, 122, 201);
}

.divider {
    display: none;
  }
  
  .divider.show {
    display: block;
  }
  
  
  
  
  
  
  








