
 .instruction{
    padding-left: 20px;
 }
 .nameChange{
  padding-left:20px;
 }
 .letterchange{
  padding-left:20px;
 }
 .curriculum{
  padding-left:20px;
 }
 .Instructional{
  padding-left:20px;
 }
 .gradToPer{
  padding-left:20px;
 }
 .transcript{
  padding-left:20px; 
 }

 .title{
    font-weight: bold; 
    font-size: 15px;  
 }

 .title:hover{
    transform: scale(1.2);
     color:#0a95f8

 }
 
  .title-active{
    color: red;
  }

  .innercard{
    background-color:#fff; 
  }
  .card{ 
   box-shadow: 0.063rem 0 1.25rem #8690a3;
   width: 100%; 
   margin-top: 20px;
  }


  .tablecontent{
   margin-left: 20px;
  }


  .pi.pi-eye:hover {
   font-size: 2.5rem; 
   color: #0a95f8;
 }

 .pi.pi-trash:hover {
   font-size: 2.5rem;
   color: hsl(14, 100%, 50%);
 }
  .pi.pi-file-edit:hover{
     font-size: 2.5rem;
     color :cyan
  }

 .innerHeader{
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 25px;  
 }
 .content{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; 
 }
 .tab-content{
  padding-top: 15px;
 }
 
.form{
  padding:10px 20px 10px 20px ;
}
 
.innerForm{
  padding:5px 20px 5px 40px;
}
  
td{
  height: 50%;
}

:host ::ng-deep .p-dropdown {
  width: 22rem; 
}

/* :host ::ng-deep .p-button {
 
} */
input.ng-invalid.ng-touched{
  border-color: red;
}


 

input::file-selector-button {
  font-weight: bold; 
  color: rgb(246, 248, 250);
  background-color:dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 6px;
  height: 45px; 
}
  
.cropPreview{
  padding-top: 5px; 
  padding-right: 35%;
}

p-table td {
  /* Add your desired styles for <td> here */
  padding-left: 15px;
}
.tabs {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  user-select: none;
}

.tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}


.pi.pi-user-edit{
  font-size: 1.5rem; 
  color: green;
  cursor: pointer;
}

.pi.pi-user-edit:hover{
  font-size: 1.8rem; 
  color: rgb(30, 236, 30);
}

.pi.pi-trash{
font-size: 1.5rem; 
color: rgb(202, 65, 65);
cursor: pointer;
padding-left: 8px;
}

.pi.pi-trash:hover{
font-size: 1.8rem; 
color: rgb(241, 9, 9);
}


.accordian{
  padding: 10px;
}