<p-card header="Student Management">
    <div class="card">
        <p-table #dt1 dataKey="id" [value]="studentsData" [tableStyle]="{'min-width': '50rem'}" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card flex flex-wrap justify-content-center">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input class="p-inputtext-lg" placeholder="Name" type="text" pattern="[a-zA-Z ]*"
                                    pInputText style="width: 100%;" #name />
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card flex flex-wrap justify-content-center">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input class="p-inputtext-lg" placeholder="Email" type="text" pInputText
                                    style="width: 100%;" #email />
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p-button label="SEARCH" styleClass="p-button-secondary"
                            (click)="search(name.value,email.value,'',0,10)"></p-button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="card flex flex-wrap justify-content-center">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input class="p-inputtext-lg" placeholder="Search" type="text" pInputText
                                    [(ngModel)]="filterText" (input)="filterData()" style="width: 100%;" #local />
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-11" style="display: flex; justify-content: flex-start; margin-right: auto;">
                        <h2>Filtered students count : {{totalCount}}</h2>
                    </div>
                    <div class="col-md-1 d-flex justify-content-end align-items-center">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                          (click)="clear()"></button>
                      </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Sr.No.</th>
                    <th>Full Name</th>
                    <th>Email Address</th>
                    <th>Applying For</th>
                    <th>Current Location</th>
                    <th>Registered Date</th>
                    <th>View</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student>
                <tr [pSelectableRow]="student">
                    <td>{{student.id}}</td>
                    <td>{{student.name}} {{student.surname}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.applied_for}}</td>
                    <td>{{student.current_location}}</td>
                    <td>{{student.created_at}}</td>
                    <td>
                        <a class="hoverIcon">
                            <i class="pi pi-user" pTooltip="View More" tooltipPosition="top"
                                (click)="viewMore(student.id,student.app_id)"></i>
                        </a>
                    </td>
                    <td>
                        <mat-slide-toggle class="example-margin" [color]="color"
                            [checked]="student.user_status == 'active'" [disabled]="disabled"
                            (change)="toggleChanged($event.checked,student)">
                        </mat-slide-toggle>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No Data found.</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="totalCount"></p-paginator>
    </div>
</p-card>