<div class="center-container">
    <p-card header="Forgot Password">
      <div class="col-md-12">
        <h5>Enter your email address and we'll send a link to reset your password</h5>
      </div>
      <div class="card">
        <div class="m-2">
          <form [formGroup]="forgotPassForm">
            <div class="row">
              <div class="col-md-12">
                <div class="card flex flex-wrap justify-content-center m-4">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input class="p-inputtext-lg" type="text" pInputText style="width: 100%" placeholder="Enter your email address" formControlName="email" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" />
                  </span>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center m-3">
              <button pButton pRipple label="REQUEST PASSWORD" class="p-button-success" *ngIf="forgotPassForm.valid" (click)="reqPassword()"></button>
              <p-dialog header="Header" [style]="{width: '50vw'}">
              </p-dialog>
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          <p-button label="BACK TO LOG IN" icon="pi pi-sign-out reversed-icon" (click)="logIn()"></p-button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <p-button label="REGISTER" icon="pi pi-sign-in" iconPos="right" (click)="register()"></p-button>
        </div>
      </div>
    </p-card>
</div>