
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures that the container takes the full height of the viewport */
  }

  .card {
    max-width: 800px; /* You can adjust the value (in pixels) as per your requirement */
    margin: 0 auto; /* This centers the card horizontally within the parent container */
  }

  .reversed-icon {
    transform: scaleX(-1);
  }