.navbar {
     height: 65px;
    top:0;
    position: relative;

  }


  .headerimages{
    padding-left: 68px;
    height: 48px;
    width: 280px;
  } 
  
  .headerimages2{
  padding-left: 10px;
    height: 85px;
    width: 150px;
  } 

 /* Style for the button */
.user-button {
  background-color: #fff; /* Change the background color */
  color: #fff; /* Change the text color */
  padding: 8px 16px; /* Adjust padding to give it some space */
  border-radius: 50px; /* Add rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  
}

