<p-card header="Admin Management">
    <div class="card">
        <mat-tab-group>
            <mat-tab label="College Management">
                <p-table #dt1 [value]="collegeData" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['id', 'name']">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card flex flex-wrap justify-content-center">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input class="p-inputtext-lg" placeholder="Search" type="text" pInputText
                                            [(ngModel)]="filterText" (input)="handleFilterChange('college')"
                                            style="width: 100%;" #local />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                    (click)="clear(dt1)"></button>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-2 d-flex justify-content-end align-items-center">
                                <p-button pRipple label="ADD COLLEGE" icon="fa fa-plus"
                                    styleClass="p-button-raised p-button-secondary"
                                    (click)="addCollegeFaculty('College','add')"></p-button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12"
                                style="display: flex; justify-content: flex-start; margin-right: auto;">
                                <h2>Filtered college count : {{collegeLength}}</h2>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Delete</th>
                            <th>Send Email</th>
                            <th>Pending Application List</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-college>
                        <tr [pSelectableRow]="college">
                            <td>{{college.id}}</td>
                            <td>{{college.name}}</td>
                            <td>
                                <mat-slide-toggle class="example-margin" [color]="color"
                                    [checked]="college.status == 'active'" [disabled]="disabled"
                                    (change)="toggleChanged($event.checked,college)">
                                </mat-slide-toggle>
                            </td>
                            <td>
                                <a class="hoverIcon">
                                    <i class="pi pi-user" pTooltip="View More" tooltipPosition="top"
                                        (click)="viewCollegeFaculty(college,'College')"></i>
                                </a>
                            </td>
                            <td>
                                <a class="hoverIcon">
                                    <i class="pi pi-trash" pTooltip="Delete" tooltipPosition="top"
                                        (click)="deleteCollegeFaculty('College',college)"></i>
                                </a>
                            </td>
                            <td>
                                <a class="hoverIcon">
                                    <i class="pi pi-envelope" pTooltip="Send Email" tooltipPosition="top"
                                        (click)="sendEmail(college)"></i>
                                </a>
                            </td>
                            <td>
                                <p-button icon="pi pi-download" label="DOWNLOAD"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-tab>
            <mat-tab label="Field of Study">
                <p-table #dt2 [value]="facultyData" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['id', 'degree', 'faculty']">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card flex flex-wrap justify-content-center">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input class="p-inputtext-lg" placeholder="Search" type="text" pInputText
                                            [(ngModel)]="filterText" (input)="handleFilterChange('faculty')"
                                            style="width: 100%;" #local />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                    (click)="clear(dt2)"></button>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-2 d-flex justify-content-end align-items-center">
                                <p-button pRipple label="ADD FACULTY" icon="fa fa-plus"
                                    styleClass="p-button-raised p-button-secondary"
                                    (click)="addCollegeFaculty('Faculty','add')"></p-button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12"
                                style="display: flex; justify-content: flex-start; margin-right: auto;">
                                <h2>Filtered faculty count : {{facultyLength}}</h2>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Degree</th>
                            <th>Faculty</th>
                            <th>Year</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-faculty>
                        <tr [pSelectableRow]="faculty">
                            <td>{{faculty.id}}</td>
                            <td>{{faculty.degree}}</td>
                            <td>{{faculty.faculty}}</td>
                            <td>{{faculty.year}}</td>
                            <td>
                                <a class="hoverIcon">
                                    <i class="pi pi-user" pTooltip="View More" tooltipPosition="top"
                                        (click)="viewCollegeFaculty(faculty,'Faculty')"></i>
                                </a>
                            </td>
                            <td>
                                <a class="hoverIcon">
                                    <i class="pi pi-trash" pTooltip="Delete" tooltipPosition="top"
                                        (click)="deleteCollegeFaculty('faculty',faculty)"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</p-card>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>