<p-card header="My Applications">
    <p-accordion [activeIndex]="0" *ngFor="let application of myApplicationData">
        <p-accordionTab header="{{application.id}}">
            <div class="row">
                <p-tabView>
                    <p-tabPanel header="Status">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card w-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Status</h5>
                                        <div *ngIf="application.tracker == 'apply' && application.status == 'new'"
                                            style="color: green;">
                                            <strong>
                                                Your documents are being checked by the department for further
                                                processing.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'apply' && application.status == 'requested'"
                                            style="color: rgb(236, 155, 15);">
                                            <strong>
                                                The department wants additional/updated documents/details. Your
                                                application
                                                is on hold until additional/updated documents/details are uploaded.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'apply' && application.status == 'changed'"
                                            style="color: green;">
                                            <strong>
                                                We have received the additional/updated documents uploaded by you. Your
                                                documents are being checked by the department for further processing.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'apply' && application.status == 'reject'"
                                            style="color: red;">
                                            <strong>
                                                Your application has been rejected. Kindly contact support staff for
                                                further
                                                clarification.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'verified' && application.status == 'accept'"
                                            style="color: green;">
                                            <strong>
                                                Your documents have been approved by the department. The documents are
                                                now
                                                in queue for being digitally signed.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'signed' && application.status == 'accept'"
                                            style="color: green;">
                                            <strong>
                                                Your documents are now successfully verified & digitally signed. They
                                                will
                                                be sent via email to the purpose selected by you.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'done' && application.status == 'accept'"
                                            style="color: green;">
                                            <strong>
                                                Your document have been sent digitally to the purpose selected by you.
                                                Your
                                                application with Silver Oak University is now complete.
                                            </strong>
                                        </div>
                                        <div *ngIf="application.tracker == 'signed' && application.status == 'new'"
                                            style="color: green;">
                                            <strong>
                                                Your document have been sent digitally to the purpose selected by you.
                                                Your
                                                application with Silver Oak University is now complete.<br>
                                                ALL THE BEST!!!
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="application.marksheetsErrata == true || application.transcriptsErrata == true || application.curriculumsErrata == true || application.gradetopersErrata == true || application.instructionalsErrata == true || application.affiliationsErrata == true || application.competencysErrata == true || application.namechangeproofsErrata == true || application.letterfornamechangesErrata == true">
                                <div class="card w-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Errata</h5>
                                        <div *ngIf="application.marksheetsErrata == true">
                                            <span>For Correction in Marksheets</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                            <br>
                                        </div>
                                        <div *ngIf="application.transcriptsErrata == true">
                                            <span>For Correction in Transcripts</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.curriculumsErrata == true">
                                            <span>For Correction in Curriculum</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.gradetopersErrata == true">
                                            <span>For Correction in Grade to Percentage Conversion Letter</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.instructionalsErrata == true">
                                            <span>For Correction in Instructional Letter</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.affiliationsErrata == true">
                                            <span>For Correction in Affiliation Letter</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.competencysErrata == true">
                                            <span>For Correction in Competency Letter</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.namechangeproofsErrata == true">
                                            <span>For Correction in Name Change Proof Letter</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                        <div *ngIf="application.letterfornamechangesErrata == true">
                                            <span>For Correction in Letter For Name Change</span>
                                            &nbsp;
                                            <a>
                                                <i class="pi pi-eye" pTooltip="Click Here" tooltipPosition="top"></i>
                                            </a>
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 2%;">
                                <button pButton pRipple label="DOWNLOAD PAYMENT RECEIPT" class="p-button-success" (click)="downloadReceipt(application.id)"></button>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Applicant Details">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card text-center w-100">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title">Application Date</h5>
                                                <span class="card-text">{{application.created_at}}</span>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="card-title">Attested For</h5>
                                                <div class="table-container">
                                                    <table>
                                                        <td>
                                                            <span *ngIf="application.appliedData.educationalDetails == true">-
                                                                Educational
                                                                Detail<br></span>
                                                            <span *ngIf="application.appliedData.instructionalField == true">-
                                                                Medium
                                                                of
                                                                Instruction<br></span>
                                                            <span *ngIf="application.appliedData.curriculum == true">-
                                                                Curriculum<br>
                                                            </span>
                                                            <span *ngIf="application.appliedData.gradToPer == true">- Grade
                                                                to
                                                                Percentage Letter<br></span>
                                                            <span *ngIf="application.appliedData.affiliation == true">-
                                                                Affiliation
                                                                Letter<br></span>
                                                            <span *ngIf="application.appliedData.CompetencyLetter == true">-
                                                                Certificate
                                                                of
                                                                Competency letter<br></span>
                                                            <span *ngIf="application.appliedData.LetterforNameChange == true">-
                                                                Letter
                                                                For
                                                                Name Change</span>
                                                        </td>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card w-100">
                                    <h3 class="card-title" style="text-align: center;">Purpose</h3>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4" *ngFor="let purpose of application.purposeData">
                                                <div class="card w-100">
                                                    <div class="card-body">
                                                        <h5 class="card-subtitle">Name</h5>
                                                        <span>{{purpose.type}}</span>
                                                        <br><br>
                                                        <h5 class="card-subtitle">Reference NO.</h5>
                                                        <span>{{purpose.refno}}</span>
                                                        <br><br>
                                                        <h5 class="card-subtitle">Email</h5>
                                                        <span
                                                            *ngIf="purpose.email == null && purpose.otherEmail == null">{{purpose.emailAsWes}}</span>
                                                        <span
                                                            *ngIf="purpose.emailAsWes == null">{{purpose.email}}</span>
                                                        <span
                                                            *ngIf="purpose.emailAsWes == null && purpose.otherEmail != null">,{{purpose.otherEmail}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </p-accordionTab>
        <br>
    </p-accordion>
</p-card>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>