
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <!-- Apply first Time -->
    <div *ngIf="paymentDetails == false"> 
        <div class="row">
            <div class="col-md-3 pt-2">
                <p-panel header="Attestation Application" class="apply">
                    <div style="text-align: center;">
                    <!-- <p-button icon="pi pi-sign-in" iconPos="right" label="Apply" class="custom-button"  styleClass="p-button-raised"></p-button> -->
                    <button type="button" class="btn" (click)="dashboardRoutes()">Apply</button>
                </div> 
                </p-panel>
            </div>
           
            <div class="col-md-9 pt-2">
                <p-panel header="Welcome to University of Mumbai!">
                    <h5 class="card-title">Hi {{user_name}}!</h5>
                    <p class="card-text" >  Welcome to eTranscript, a one stop contactless, faceless and paperless solution for attesting your Mumbai University Transcripts. 
                        We are here to provide online attestation services and ensure that the foreign universities / employers get genuine , verified and digitally attested documents.
                        click on the "Apply" button on the left to either start a new application, if it's your first time on this website or to continue your existing one.</p>
                </p-panel>
            </div>
        </div>
        <div class="row pt-4">
            <p-panel header="Application Progress Bar">
                <div class="row">
                    <h4 class="card-titles">Pre-Application</h4>
                </div>
                <div class="row pt-4" style="margin-left: 100px;">
                    <div class="col-md-2" >
                        <div class="hexagon">
                            <img src="/assets/IMG/educational.png" alt="abc">
                            <img class="check" *ngIf="educationDetails == true" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="educationDetails == false" src="/assets/IMG/cross6.png" alt="abc">
                        </div>   
                       <span class="header">EDUCATIONAL DETAILS</span>  
                    </div> 
                    <div class="col-md-1">
                        <img src="/assets/IMG/links.png" class="link" alt="abc">
                        </div>
                    <div class="col-md-2 pt-5"> 
                        <span class="header">UPLOAD DOUCUMENTS</span>
                        <div class="hexagon">
                            <img src="/assets/IMG/folder.png" alt="abc">
                            <img class="check" *ngIf="documentDetails == true"  src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="documentDetails == false"  src="/assets/IMG/cross6.png" alt="abc">
                        </div> 
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/IMG/links.png" class="links" alt="abc">
                    </div>
                    <div class="col-md-2">
                        <div class="hexagon">
                            <img src="/assets/IMG/pngwing.com.png" alt="abc">
                            <img class="check" *ngIf="purposeDetails == true" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="purposeDetails == false"  src="/assets/IMG/cross6.png" alt="abc">
                        </div> 
                       <span class="header1">PURPOSE</span> 
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/IMG/links.png" class="link" alt="abc">
                        </div>
                    <div class="col-md-2 pt-5"> 
                        <span class="header1">PAYMENT</span>
                        <div class="hexagon">
                            <img src="/assets/IMG/money.png" alt="abc">
                            <img class="check" *ngIf="paymentDetails" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="paymentDetails == false" src="/assets/IMG/cross6.png" alt="abc">
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
     <!--Second Time Apply  -->
     <div *ngIf="paymentDetails == true"> 
        <div class="row">
            <div class="col-md-3 pt-2">
                <p-panel header="Attestation Application" class="apply">
                    <div style="text-align: center;">
                    <!-- <p-button icon="pi pi-sign-in" iconPos="right" label="Apply Again" class="custom-button"  styleClass="p-button-raised"></p-button> -->
                    <button type="button" class="btn" (click)="dashboardRoutes()">Apply Again</button>
                </div> 
                </p-panel>
            </div>
           
            <div class="col-md-9 pt-2">
                <p-panel header="Welcome to University of Mumbai!">
                    <h5 class="card-title">Hi {{user_name}}!</h5>
                    <p class="card-text" >  Welcome to eTranscript, a one stop contactless, faceless and paperless solution for attesting your Mumbai University Transcripts. 
                        We are here to provide online attestation services and ensure that the foreign universities / employers get genuine , verified and digitally attested documents.
                        click on the "Apply Again" button on the left to either start a new application, if it's your first time on this website or to continue your existing one.</p>
                </p-panel>
            </div>
        </div>
        <div class="row pt-4">
            <p-panel header="Application Progress Bar">
                <div class="row">
                    <h4 class="card-titles">Post-Application</h4>
                </div>
                <div class="row pt-4" style="margin-left: 100px;">
                    <div class="col-md-2" >
                        <div class="hexagon">
                            <img src="/assets/IMG/apply2.png" alt="abc">
                            <img class="check" *ngIf="applied == true" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="applied != true" src="/assets/IMG/cross6.png" alt="abc">
                        </div>   
                       <span class="headers">Application Applied</span>  
                    </div> 
                    <div class="col-md-1">
                        <img src="/assets/IMG/links.png" class="link" alt="abc">
                        </div>
                    <div class="col-md-2 pt-5"> 
                        <span class="headers">Application Verified</span>
                        <div class="hexagon">
                            <img src="/assets/IMG/verified.png" alt="abc">
                            <img class="check" *ngIf="verified == true" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="verified != true" src="/assets/IMG/cross6.png" alt="abc">
                        </div> 
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/IMG/links.png" class="links" alt="abc">
                    </div>
                    <div class="col-md-2">
                        <div class="hexagon">
                            <img src="/assets/IMG/applied1.jpg" alt="abc">
                            <img class="check" *ngIf="signed == true" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="signed != true" src="/assets/IMG/cross6.png" alt="abc">
                        </div> 
                       <span class="headers">Application Signed</span> 
                    </div>
                    <div class="col-md-1">
                        <img src="/assets/IMG/links.png" class="link" alt="abc">
                        </div>
                    <div class="col-md-2 pt-5"> 
                        <span class="headers">Application Done</span>
                        <div class="hexagon">
                            <img src="/assets/IMG/report-icon-14.png"  alt="abc">
                            <img class="check" *ngIf="done == true" src="/assets/IMG/check4.png" alt="abc">
                            <img class="wrong" *ngIf="done != true" src="/assets/IMG/cross6.png" alt="abc">
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</body>
</html>